@import "@/assets/styles/mixins.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;

  @media (max-width: 1000px) {
    justify-content: center;

    .slider {
      display: none;
    }
    .login {
      width: 80% !important;
    }
  }
  @media (max-width: 620px) {
    overflow: scroll;
    .login {
      width: 100% !important;
    }
  }

  .slider {
    width: 50%;
  }
  .login {
    width: 50%;
    @include center-flex;
    text-align: center;
    max-height: 100vh;
  }
}
