@import "@/assets/styles/mixins.scss";
@import "@/assets/styles/variables.scss";

.card {
  @media (max-width: 620px) {
    padding: 0;

    .form-container {
      min-width: 85%;
    }

    .logos-img {
      width: 3.6rem !important;
      height: 1.5rem !important;
    }

    .logo:first-child .logos-img {
      width: 2rem !important;
      height: 1.2rem !important;
    }
  }

  padding: 0rem 3rem;
  .form-container {
    flex-direction: column;
    gap: 1.5rem;
    width: 70%;
  }
  .instabug p {
    font-size: 1.5rem;
    color: $color-dark-grey;
    margin: 0.75rem 0;
  }
  .social {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }

  .divider {
    background-color: #cdcccd;
    height: 0.5px;
    line-height: 1px;
    margin: 1.5rem auto;
    &-title {
      background: white;
      padding: 0 0.5rem;
      color: $color-dark-grey;
      font-weight: 700;
    }
  }

  .btn {
    margin-bottom: 0.5rem;
  }

  form {
    margin-bottom: 1rem;

    .label-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
      color: #445065;

      a {
        color: #0089e5;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          color: #16253f;
        }
      }

      .link-grey {
        color: $color-light-grey;
      }
    }

    input {
      width: 100%;
      height: $spacing-xxl;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding-right: 1rem;
      padding-left: 1rem;
      &::placeholder {
        color: #ccc;
      }
      &:focus {
        outline: none;
        border-color: #09f;
        box-shadow: inset 0 0 4px 0 #09f;
      }
    }

    // ---------------------- Errors ---------------------- //
    .error {
      width: 100%;
      height: $spacing-xxl;
      border: 1px solid rgba(0, 0, 0, 0.25);
      color: #445065;
      border-radius: 4px;
      background-color: #fce6e2;
      margin-bottom: 0.75rem;
      line-height: 1.6;
      text-align: start;
      padding: 0.5rem;
    }
    .invalid {
      border-color: $color-invalid;
    }
    .form-error {
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      color: $color-invalid;
      text-align: start !important;
    }
    button:disabled {
      cursor: not-allowed;
      background-color: #ccc !important;
    }
  }

  .logos {
    &-title {
      color: $color-light-grey;
      margin: 1.2rem 0;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      gap: 0.6rem;

      .logo:first-child .logos-img {
        width: 3rem;
        height: 1.5rem;
      }
    }

    &-img {
      width: 5.5rem;
      height: 1.8rem;
      object-fit: contain;
    }
  }
}
