@import "@/assets/styles/mixins.scss";
@import "@/assets/styles/variables.scss";

button {
  width: 100%;
  height: $spacing-xxl;
  overflow: hidden;
  border: none;
  border-radius: $spacing-xxs;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    width: 80%;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: $spacing-xxl;
  }
  img {
    width: 1.5rem;
  }
}

// if background is white
.border {
  border: 1px solid #8c8c8c;
}
