// Colors
$color-dark-blue: #00287a;
$color-dark-grey: #495466;
$color-light-grey: #a1a7b2;
$color-invalid: #f24220;

// Spacing
$spacing-xxs: 0.25rem; //4px
$spacing-xs: 0.5rem; //8px
$spacing-s: 0.625rem; //10px
$spacing-l: 1.25rem; //20px
$spacing-xl: 1.875rem; //30px
$spacing-xxl: 2.5rem; //40px
$spacing-md: 5rem; // 80px

// Text
$text-sm: 0.875rem; //14px
$text-md: 1rem; //16px
$text-l: 1.5rem; //16px
