@import "@/assets/styles/variables.scss";
@import "@/assets/styles/mixins.scss";

.slider {
  &-container {
    background-color: $color-dark-blue;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // gap: $spacing-xxl;

    .swiper {
      width: 100%;
      height: 100%;

      &-slide {
        display: flex;
        flex-direction: column;
        gap: $spacing-xxl;
      }

      p {
        color: #eee;
        font-size: 1.5rem;
        // to make the text & dots in a fixed place each time
        min-height: $spacing-md;
      }

      &-pagination-bullet-active {
        height: $spacing-xs;
        width: $spacing-xs;
        border: 1px solid #eee;
        border-radius: 50%;
        cursor: pointer;
        &--active {
          background-color: #eee !important;
        }
      }
    }
  }

  &-img {
    width: 75%;
    height: 75%;
    margin: 0 auto;
  }
}
