@import "@/assets/styles/mixins.scss";
@import "@/assets/styles/variables.scss";

.container {
  @include container;
  text-align: center;

  .not-found {
    &-img {
      width: 80%;
      height: 80%;
    }

    &-title {
      color: $color-dark-blue;
      margin-bottom: 1.2rem;
    }

    &-message {
      color: #6f7f9f;
      font-size: 1.1rem;
    }
  }
}
